.about-me-1 {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.about-me-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  img {
    width: 420px;
    height: 620px;
    object-fit: cover;
    object-position: center;
    border: 5px solid gray;
    border-radius: 10px;
  }
}
.about-me-right {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}
.amr-1 {
  font-size: 24px;
  margin-left: 2rem;
}
.about-me-img {
  width: 420px !important;
  height: 620px !important;
  object-fit: cover;
  object-position: center;
  border: 3px solid gray;
  border-radius: 10px;
}
.aml-1 {
  .aml-1-title {
    font-size: 24px;
  }
  div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      &:nth-child(1) {
        font-size: 22px;
        color: white;
      }
      font-family: Inter;
      color: rgb(189, 197, 209);
      font-size: 18px;
      line-height: 32px;
    }
  }
}
.aml-2 {
  div {
    display: flex !important;
    align-items: center;

    p {
      &:nth-child(2) {
        // padding-left: 2rem;
      }
    }
  }
}
.amr-2 {
  margin-top: 5rem;
  margin-left: 2rem;
  p {
    &:nth-child(1) {
      font-size: 24px;
      color: white;
      font-family: "Manrope";
    }
    margin: 1.5rem 0;
    color: rgb(189, 197, 209);
    font-family: "Inter";
    font-size: 18px;
    line-height: 32px;
  }
}
@media screen and (max-width: 1200px) {
  .about-me-img {
    width: 360px !important;
    height: 500px !important;
    object-fit: cover;
    object-position: center;
    border: 3px solid gray;
    border-radius: 10px;
  }
  .aml-1 {
    .aml-1-title {
      font-size: 20px !important;
    }
    div {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      // gap: 0.5rem;
      p {
        &:nth-child(1) {
          font-size: 18px;
          color: white;
        }
        font-family: Inter;
        color: rgb(189, 197, 209);
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  .amr-2 {
    margin-top: 2rem;
    margin-left: 2rem;
    p {
      &:nth-child(1) {
        font-size: 20px;
        color: white;
        font-family: "Manrope";
      }
      margin: 1.5rem 0;
      color: rgb(189, 197, 209);
      font-family: "Inter";
      font-size: 14px;
      line-height: 25px;
    }
  }
}
@media screen and (max-width: 800px) {
  .about-me-1 {
    flex-direction: column;
    width: 100%;
    margin: 1rem 2rem;
  }
  .about-me-img {
    width: 100% !important;
    height: 560px;
  }
  .about-me-left {
    width: 100%;
  }
  .about-me-right {
    width: 100%;
  }
  .aml-1 {
    .aml-1-title {
      font-size: 24px !important;
    }
    div {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      // gap: 0.5rem;
      p {
        &:nth-child(1) {
          font-size: 20px !important;
          color: white;
          line-height: 30px;
        }
        font-family: Inter;
        color: rgb(189, 197, 209);
        font-size: 18px !important;
        line-height: 30px !important;
      }
    }
  }
  .amr-2 {
    margin-top: 2rem;
    margin-left: 2rem;
    p {
      &:nth-child(1) {
        font-size: 24px !important;
        color: white;
        font-family: "Manrope";
      }
      margin: 1.5rem 0;
      color: rgb(189, 197, 209);
      font-family: "Inter";
      font-size: 18px !important;
      line-height: 30px !important;
    }
  }
  .aml-2 {
    div {
      display: flex !important;
      align-items: start !important;

      p {
        &:nth-child(2) {
          padding-left: 0 !important;
        }
      }
    }
  }
}
