$color-1: #ffffff;
$color-2: #f2f2f2;
$color-3: #e6e6e6;
$color-4: #d9d9d9;
$color-5: #666666;
$color-6: #4d4d4d;
$color-7: #262626;
$color-8: #0e0e0e;
$color-9: #fafaf9;
$color-10: #e8e8e3;
$color-11: #ddddd5;
$color-12: #d1d1c7;
$color-13: #aeae9d;
$color-14: #8c8c73;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  // overflow: hidden;
}
.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 97%;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  border: 1px solid #3a3a3a;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .name {
    font-size: 12rem;
    text-transform: uppercase;
    color: $color-1;
    font-weight: bolder;
    font-family: "Overused Grotesk";
    letter-spacing: 3px;
  }
  .hero-about {
    font-size: 2rem;
  }
  .hero-about-main {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .typed-cursor {
    font-size: 2rem;
  }
  .typed {
    font-weight: bolder;
  }
}
canvas {
  position: absolute;
  z-index: -1;
}
#home {
  height: 100vh;
  z-index: 9;
}
@media screen and (max-width: 1200px) {
  .name {
    font-size: 10rem !important;
  }
}
@media screen and (max-width: 1200px) {
  .name {
    font-size: 8rem !important;
  }
}
@media screen and (max-width: 850px) {
  .name {
    font-size: 6rem !important;
  }
  .hero-about-main {
    gap: 0.5rem !important;
    p {
      font-size: 1.3rem !important;
    }
    .typed-cursor {
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 650px) {
  .name {
    font-size: 4rem !important;
  }
}
@media screen and (max-width: 500px) {
  .name {
    font-size: 3rem !important;
  }
  .hero-about-main {
    gap: 0.5rem !important;
    p {
      font-size: 1.2rem !important;
    }
    .typed-cursor {
      font-size: 1.3rem;
    }
  }
}
