$primary-blue-1: #020617;

@font-face {
    font-family: "overusedgrotesk";
    src: url(../Fonts/OverusedGrotesk/otf/OverusedGrotesk-Medium.otf);
}
body {
    background-color: $primary-blue-1;
    color:white;
}
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "overusedgrotesk";
}