$color-1: #ffffff;
$color-2: #f2f2f2;
$color-3: #e6e6e6;
$color-4: #d9d9d9;
$color-5: #666666;
$color-6: #4d4d4d;
$color-7: #262626;
$color-8: #0e0e0e;
$color-9: #fafaf9;
$color-10: #e8e8e3;
$color-11: #ddddd5;
$color-12: #d1d1c7;
$color-13: #aeae9d;
$color-14: #8c8c73;

#about {
  // height: 100vh;
  width: 100%;
  margin: 0;
  background-color: $color-7;
}
.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 5rem;
  padding: 1rem 0;
  gap: 2rem;

  .about-main {
    p {
      margin-top: 5rem;
      font-size: 2.5rem;
      text-align: center;
      line-height: 3.5rem;
    }
  }

  .about-img {
    display: flex;

    img {
      height: 350px;
      width: 250px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
      border: 6px solid #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      &:nth-child(1) {
        transform: rotate(-10deg);
      }
      &:nth-child(2) {
        transform: rotate(20deg);
      }
      &:nth-child(3) {
        transform: rotate(-8deg);
      }
      &:nth-child(4) {
        transform: rotate(15deg);
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .about-img {
    img {
      height: 300px !important;
      width: 200px !important;
    }
  }
}
@media screen and (max-width: 1000px) {
  .about-main {
    p {
      font-size: 2rem !important;
    }
  }
  .about-img {
    img {
      height: 250px !important;
      width: 150px !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-main {
    p {
      font-size: 1.5rem !important;
      line-height: 3rem !important;
    }
  }
  .about-img {
    img {
      height: 230px !important;
      width: 130px !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .about-inner {
    margin: 1rem !important;
  }
  .about-main {
    p {
      font-size: 1rem !important;
      line-height: 2rem !important;
    }
  }
  .about-img {
    img {
      height: 200px !important;
      width: 100px !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .about-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    img {
      height: 250px !important;
      width: 150px !important;
    }
  }
}

.swiper {
  width: 300px;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
