$primary-blue-1: #020617;
$primary-blue-2: #576dff;

// .overview {
//   height: 100vh;
//   width: 100%;
//   padding: 3rem 10rem;
//   display: grid;
// }
// .about-me {
//   position: relative;
//   width: 250px;
//   height: 400px;
//   transition: all 100ms ease-in-out;

//   img {
//     height: 400px;
//     width: 250px;
//     object-fit: cover;
//     object-position: center;
//     border-radius: 10px;
//     border: 2px solid $primary-blue-2;
//     position: relative;
//   }
//   .layout-1 {
//     position: absolute;
//     height: 400px;
//     width: 250px;
//     transition: all 100ms ease-in-out;
//     border-radius: 10px;
//     background: linear-gradient(
//       rgba(36, 66, 119, 0.15) 60%,
//       rgb(35, 65, 119) 99.043%,
//       rgb(53, 69, 95) 100%
//     );
//     opacity: 0.8;
//     z-index: 9 !important;
//   }
//   p {
//     position: absolute;
//     bottom: 10px;
//     font-size: 1.2rem;
//     z-index: 9;
//     left: 50%;
//     text-align: center;
//     transform: translate(-50%, 0);
//     width: 50%;
//   }
//   &:hover {
//     .layout-1 {
//       opacity: 0.8;
//        background: linear-gradient(
//       rgba(36, 66, 119, 0.15) 50%,
//       rgb(35, 65, 119) 100%,
//       rgb(53, 69, 95) 100%
//     );
//     }
//     .north-east {
//         visibility: visible;
//         top: 10px;
//     }
//   }
//   .north-east {
//     position: absolute;
//     transition: all 100ms ease-in-out;
//     top: 5px;
//     z-index: 9;
//     right: 10px;
//     font-size: 1rem;
//     border:2px solid skyblue;
//     padding: 1px;
//     color: skyblue;
//     border-radius: 50%;
//     visibility: hidden;
//   }
// }

.overview {
  display: grid;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 2rem 10rem;
  grid-template-areas:
    "a b b"
    "a c d"
    "e e d";
  gap: 1rem;
  grid-template-columns: 250px;
  grid-template-rows: 200px;

  .about {
    grid-area: a;
    border: 1px solid $primary-blue-2;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("../../imgs/img5.jpg");
    object-position: center;
    object-fit: cover;
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    position: relative;
    height: 450px;

    .layout-1 {
      position: absolute;
      height: 100%;
      width: 100%;
      transition: all 100ms ease-in-out;
      border-radius: 10px;
      background: linear-gradient(
        rgba(36, 66, 119, 0.15) 60%,
        rgb(35, 65, 119) 99.043%,
        rgb(53, 69, 95) 100%
      );
      opacity: 0.8;
      z-index: 9 !important;
      transition: all 100ms ease-in-out;
    }
    p {
      position: absolute;
      bottom: 10px;
      left: 50%;
      font-size: 1.2rem;
      text-align: center;
      transform: translate(-50%, 0);
      z-index: 9;
    }
    .north-east {
      position: absolute;
      right: 10px;
      transition: all 100ms ease-in-out;
      top: 5px;
      font-size: 1rem;
      border: 2px solid skyblue;
      color: skyblue;
      border-radius: 50%;
      padding: 2px;
      visibility: hidden;
    }

    &:hover {
      .north-east {
        top: 10px;
        visibility: visible;
      }
      .layout-1 {
        opacity: 0.8;
      }
    }
  }
  .b {
    transition: all 300ms ease-in-out;
    height: 200px;
    grid-area: b;
    border: 1px solid $primary-blue-2;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      rgb(29, 39, 56) 0%,
      rgb(23, 31, 44) 100%
    );
    padding: 2rem 2rem;
    overflow: hidden;
    display: flex;
    position: relative;

    img {
      position: absolute;
      width: 70%;
      height: 100%;
      right: 0;
      object-fit: contain;
      object-position: 100%;
      transition: all 200ms ease-in-out;
      z-index: 1;
    }
    .north-east {
      position: absolute;
      right: 10px;
      transition: all 100ms ease-in-out;
      top: 5px;
      font-size: 1rem;
      border: 2px solid skyblue;
      color: skyblue;
      border-radius: 50%;
      padding: 2px;
      visibility: hidden;
    }

    &:hover {
      .north-east {
        top: 10px;
        visibility: visible;
      }
      img {
        transform: translate(0, -20px);
      }
    }

    p {
      &:nth-child(1) {
        font-size: 1.5rem;
      }
      &:nth-child(2) {
        font-size: 1rem;
        color: #ced5ff;
      }
    }
    background: radial-gradient(
      75% 63.6% at 50% 2.5%,
      rgb(36, 115, 236) 0%,
      rgba(99, 102, 241, 0) 100%
    );
    background-color: #18202d;
  }
  .socials {
    width: 400px;
    grid-area: c;
    border: 1px solid $primary-blue-2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(
      75% 63.6% at 50% 2.5%,
      rgb(36, 115, 236) 0%,
      rgba(99, 102, 241, 0) 100%
    );
    background-color: #18202d;

    height: 230px;

    .c {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        p {
          font-size: 1.3rem;
        }
        button {
          height: 40px;
          width: 100px;
          color: black;
          background-color: white;
          border: none;
          border-radius: 30px;
          font-size: 1rem;

          &:hover {
            background-color: #e2e2e2;
            cursor: pointer;
          }
        }
      }
    }
  }
  .skills {
    grid-area: d;
    position: relative;
    border: 1px solid $primary-blue-2;
    border-radius: 10px;
    padding: 2rem 3rem;
    width: 520px;
    height: 450px;
    background: radial-gradient(
      75% 63.6% at 50% 2.5%,
      rgb(36, 115, 236) 0%,
      rgba(99, 102, 241, 0) 100%
    );
    background-color: #18202D;

    p {
      &:nth-child(1) {
        font-size: 1.6rem;
      }
      &:nth-child(2) {
        font-size: 1rem;
        color: #ced5ff;
      }
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: all 200ms ease-in-out;
    }

    &:hover {
      img {
        height: 65px;
        width: 65px;
      }
      .north-east {
        top: 10px;
        visibility: visible;
      }
    }
    .north-east {
      position: absolute;
      right: 10px;
      transition: all 100ms ease-in-out;
      top: 5px;
      font-size: 1rem;
      border: 2px solid skyblue;
      color: skyblue;
      border-radius: 50%;
      padding: 2px;
      visibility: hidden;
    }
  }
}
.skill-icons {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .skill-icon-1 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .skill-icon-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
  }
}
.internships {
  position: relative;
  grid-area: e;
  height: 200px;
  width: 667px;
  border: 1px solid $primary-blue-2;
  border-radius: 10px;
  background: radial-gradient(
    75% 63.6% at 50% 2.5%,
    rgb(36, 115, 236) 0%,
    rgba(99, 102, 241, 0) 100%
  );
  background-color: #18202D;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  p {
    &:nth-child(1) {
      font-size: 1.3rem;
    }
  }
  &:hover {
    .north-east {
      top: 10px;
      visibility: visible;
    }
  }
  .north-east {
    position: absolute;
    right: 10px;
    transition: all 100ms ease-in-out;
    top: 5px;
    font-size: 1rem;
    border: 2px solid skyblue;
    color: skyblue;
    border-radius: 50%;
    padding: 2px;
    visibility: hidden;
  }
}
@media screen and (max-width: 1300px) {
  .overview {
    grid-template-columns: 200px;
    grid-template-rows: 200px;
  }
  .about {
    width: 200px;
    background-size: cover;
  }
  .b {
    width: 800px;
  }
  .socials {
    width: 300px !important;
  }
  .internships {
    width: 519px !important;
  }
  .skills {
    width: 480px !important;
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .overview {
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-template-areas:
      "a b b"
      "a e e"
      "c d d";
    padding: 0 !important;
  }
  .about {
    width: 200px !important;
    height: 415px !important;
    background-size: cover;
  }
  .b {
    width: 100% !important;
    height: 200px !important;
  }
  .socials {
    width: 360px !important;
    height: 360px !important;
  }
  .internships {
    width: 519px !important;
  }
  .skills {
    width: 360px !important;
    height: 360px !important;
    margin: 0;
    margin-left: 10rem !important;

    div {
      margin: 0;
      padding: 0;
      img {
        height: 30px !important;
        width: 30px !important;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .overview {
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-template-areas:
      "a c"
      "a c"
      "b b"
      "d d"
      "e e";
    padding: 0 !important;
  }
  .about {
    width: 250px !important;
    height: 415px !important;
    background-size: cover;
  }
  .b {
    width: 100% !important;
    height: 200px !important;
  }
  .socials {
    width: 250px !important;
    height: 415px !important;
    margin-left: 4rem;
  }
  .internships {
    width: 100% !important;
  }
  .skills {
    width: 100% !important;
    height: 360px !important;
    margin: 0 !important;
    padding: 1rem 3rem !important;

    div {
      margin: 0;
      padding: 1rem 3rem !important;
      img {
        height: 30px !important;
        width: 30px !important;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .overview {
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-template-areas:
      "a c"
      "a c"
      "b b"
      "d d"
      "e e";
    padding: 0 !important;
  }
  .about {
    width: 200px !important;
    height: 350px !important;
    background-size: cover;
  }
  .b {
    width: 100% !important;
    height: 200px !important;
  }
  .socials {
    width: 200px !important;
    height: 350px !important;
    margin: 0 !important;
  }
  .internships {
    width: 100% !important;
  }
  .skills {
    width: 100% !important;
    height: 360px !important;
    margin: 0 !important;
    padding: 1rem 3rem !important;

    div {
      margin: 0;
      padding: 1rem 3rem !important;
      img {
        height: 40px !important;
        width: 40px !important;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  html {
    p {
      font-size: 14px !important;
    }
  }
  .overview {
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
    grid-template-areas:
      "a c"
      "a c"
      "b b"
      "d d"
      "e e" !important;
    padding: 0 !important;
    gap: 1rem !important;
    place-items: center !important;
    padding: 0 !important;
  }
  .about {
    width: 160px !important;
    height: 270px !important;
    background-size: cover;
    margin: 0 !important;
  }
  .b {
    width: 90% !important;
    height: 200px !important;
  }
  .socials {
    width: 150px !important;
    height: 270px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-right: 40px !important;
  }
  .internships {
    width: 90% !important;
  }
  .skills {
    width: 90% !important;
    height: 360px !important;
    margin: 0 !important;
    padding: 1rem 3rem !important;

    div {
      margin: 0;
      padding: 1rem 3rem !important;

      .skill-icon-1 {
        // border: 2px solid red !important;
        // width: 100px;
      }
      img {
        height: 40px !important;
        width: 40px !important;
      }
    }
  }
}
